.tf-option {
}
.tf-container {
}
.tf-option__text {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 90px;
}
.tf-option__text h2 {
  font-size: 60px;
  font-family: "Narrow Bold", "PT Sans";
  color: #2c2c2c;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
  padding: 0;
}
.tf-option__text p {
  font-size: 24px;
  font-family: "Pt Sans", "Regular";
  color: #2c2c2c;
}
.tf-option__table {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tf-option__table th {
  font-size: 24px;
  margin: 0;
  padding: 0;
  padding-right: 150px;
  padding-bottom: 30px;
  text-align: left;
}
.tf-option__table td {
  font-size: 22px;
  padding: 0;
  margin: 0;
  padding-right: 200px;
  padding-bottom: 42px;
  text-align: left;
}
.tf-option__table td span {
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-align: center;
}
